<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>t6proj - 404</title>
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <script src="https://kit.fontawesome.com/a7ef72f142.js" crossorigin="anonymous"></script>
</head>
<body class="">
    <div class="wrapper login-page">
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-warning"> 404</h2>
                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Страница не найдена.</h3>
                    <p>
                        Не удалось найти страницу, которую вы ищете. Возможно, она была перемещена, либо удалена.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="/js/adminlte.min.js"></script>
</body>
</html>